<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestScripts.Requisition"/>
      <class name="TestScripts.Dashboard"/>
      <class name="TestScripts.Login"/>
      <class name="TestScripts.Candidate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
